/* =================================== */
/*	Basic Style
/* =================================== */

@font-face {
  font-family: 'OpenSansS';
  src: url('../../assets/font/OpenSans-Regular-webfont.woff');
}

body {
font-family: 'OpenSansS';
background-color: #170b09;
color: #bcbfc6;
}

p {font-size: 16px;}
.margin {margin-bottom: 45px;}
.bg-1 {
background-color: #0f0f0a; /* Green */
}

.container-fluid {
padding-top: 70px;
padding-bottom: 70px;
}

.navbar {
padding-top: 15px;
padding-bottom: 15px;
border: 0;
border-radius: 0;
margin-bottom: 0;
font-size: 12px;
letter-spacing: 5px;
}
.navbar-nav  li a:hover {
color: #1abc9c !important;
}
